*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', sans-serif;
    
}

html, body{
    height: 100%;
}

.center .menu{
    max-width: 1280px;  /* Espaçamento*/
    margin: 0 auto;
    padding: 0 2%;  /* Interface*/
}

.center .logo{
    max-width: 110px;
}

section.main{
    width: 100%;
    min-height: 100%;
    background-image: url(images/azul.jpg);
    background-position: center;
    background-size: cover;  /* Para cobrir toda a minha tela*/
}

header{
    display: flex;
    justify-content: space-around; /* Distribui de forma igual*/
}

.logo{
    position: relative;
    top: -10px;
    padding-right: 50px;
   
}

.logo img{
    width: 120px;
    margin-left: 37px;
}

.menu a{
    display: inline-block;
    margin: 0 13px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: bold; /* Deixar em negrito*/
}

.menutwo a{
    display: inline-block;
    margin: 0 10px;
    margin-top: 20px;
    transition: 0.2s;
}

.menutwo a:hover{
    background-color: rgba(20, 20, 20, 0.11);
    border-radius: 5px;
}

.menu a:hover{
    background-color: rgba(20, 20, 20, 0.11);
    border-radius: 5px;
}

.title{
    text-align: left;
}

.title h2{
    color: white;
    font-size: 70px;
    letter-spacing: 1.2px; /* Espaçamento entre as letras*/
    padding-top: 5px;
}

.title p{
    color: white;
    margin-top: 10px;
}

.title p a{
    color: white;
    font-weight: bold;
}

.btnm3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btnm3 a {
    display: inline-block;
    padding: 11px 85px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
}


section.quite{
    width: 100%;
    min-height: 100%;
    background-image: url(images/teslabg2.jpg);
    background-position: center;
    background-size: cover;  /* Para cobrir toda a minha tela*/
}

.newt{
    text-align: center;
}

.newt h2{
    color: white;
    font-size: 50px;
    letter-spacing: 1.2px;
    padding-top: 100px;
}

.newt p{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.btnmy{
    margin-top: 690px;
    display: flex;
    justify-content: center;
}

.btnmy a {
    display: inline-block;
    padding: 11px 85px;
    margin: 0 15px;
    background-color:#333 ;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
}

section.modelx{
    width: 100%;
    min-height: 100%;
    background-image: url(images/teslabg3);
    background-position: center;
    background-size: cover;
}

.mx{
    text-align: center;
}


.mx h2{
    color: white;
    font-size: 55px;
    letter-spacing: 1.2px;
    padding-top: 100px;
}

.mx p{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.btnx{
    margin-top: 690px;
    display: flex; /* Organiza e alinha elementos com mais controle e facilidade*/
    justify-content: center;
}

.btnx a {
    display: inline-block;
    padding: 11px 85px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
}


.models{
    width: 100%;
    min-height: 100%;
    background-image: url(images/teslabg4.jpg);
    background-position: center;
    background-size: cover;
}

.ms{
    text-align: center;
}

.ms h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top: 100px;
}

.ms p{
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.btns{
    margin-top: 690px;
    display: flex; 
    justify-content: center;
}

.btns a {
    display: inline-block;
    padding: 11px 85px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
}


.solar{
    width: 100%;
    min-height: 100%;
    background-image: url(images/bg5.jpg);
    background-position: center;
    background-size: cover;
}

.btnsol{
    margin-top: 690px;
    display: flex;
    justify-content: center;
}

.btnsol a{
    display: inline-block;
    padding: 15px 85px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
}

.sp{
    text-align: center;
}

.sp h2{
    color: white;
    font-size: 50px;
    padding-top: 100px;
}

.sp p{
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
}

.btnroof{
    margin-top: 690px;
    display: flex;
    justify-content: center;
}

.btnroof a{
    display: inline-block;
    padding: 15px 85px;
    margin: 0 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
}

.roof{
    width: 100%;
    min-height: 100%;
    background-image: url(images/bgtesla6);
    background-size: cover;
    background-position: center;
}

.sr{
    text-align: center;
}

.sr h2{
    color: white;
    font-size: 50px;
    padding-top: 100px;
}

.sr p{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
 
footer{
    text-align: center;
    font-size: 12px;
    padding-top: 50px;
    color:#5c5e62;
    max-width: 610px; /* Limita a largura para que o texto não fique esticado */
    margin: 0 auto;   /* Centraliza horizontalmente */
    line-height: 1.6; /* Espaçamento entre linhas para melhorar a leitura */
   
}

footer a{
    color: #2b2c2e;
}

.rodape{
    padding-top: 50px;
    padding-bottom: 80px;
    word-spacing: 5px;
}